#site-box {
	width: 1260px;
  height: 60px;
}

#a-box {
  width: 100%;
  height: 40px;
   background-color: deepskyblue;
   text-align: center;
}

#b-box {
	float: right;
	width: 900px;
  height: 600px;
  text-align: left;
}

.diary {
  border: 1px ridge #e5e5e5;
  margin: 10px 10px 10px 10px;
  padding-top: 10px;
  padding-left: 10px;   
}
.date {
  font-size: 6px;
}

#c-box {
	float: left;
	width: 300px;
  height: 200px;
  text-align: right;
  padding-top: 5px;
  padding-left: 40px;
  margin-top: 20px;
}

.content2 {
  padding: 10px;
}

.data1   {
  border-bottom: 1px ridge #e5e5e5;
  text-align: left;
  margin-top: -10px;
}

.data2   {
  border-bottom: 1px ridge #e5e5e5;
  text-align: left;
  margin-top: -30px;
}

a.history {
  margin-left: 10px;
}

#d-box {
  clear: both;
	text-align: center;
  width: 1260px;
  height: 300px;

}
h5 {
  background-color: deepskyblue;
  width: 1260px;
  height: 30px;
}