body {
  background-image: url(../member_picture/Hayato.jpg);
  background-size: cover;
}

#a-box {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 10px; 
  background-color: deepskyblue;
}

#b-box {
	float: right;
  width: 800px;
  text-align: left;
}

.diary {
  border: 1px solid #e5e5e5;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 5px;
}
.date {
  font-size: 6px;
}

.data1 {
  background-color: white;
  border-radius: 10px;
}

#c-box {
	float: left;
	width: 300px;
  text-align: right;
  padding-top: 5px;
  padding-left: 40px;
  margin-top: 20px;
}

.diarys {
  margin-left: -100px;
}

.content2 {
  padding: 10px;
}

.data1   {
  border-bottom: 1px ridge #e5e5e5;
  text-align: left;
  margin-top: -10px;
}

a.history {
  margin-left: 60px;
}

#d-box {
  margin-top: 600px;
  clear: both;
	text-align: center;
  height: 40px;
  background-color: deepskyblue;
}
